# Configuration file

##########################################################################################################
# enabled modules
#--------------------------------------------------------------------------------------------------------#
# What Modules are enabled
##########################################################################################################

"enabled modules" {
    # Should the experimental module be enabled. Nothing in the module is enabled by default [default: false]
    B:"Experimental Enabled?"=false

    # Should the explosives module be enabled. Note that all explosives are non-terrain damaging and cannot be used for griefing. [default: true]
    B:"Explosives Enabled?"=true

    # Should new relatively polished weapons be added [default: true]
    B:"New Weapons Enabled?"=true

    # Should the old 1.7 weapons be added, born anew [default: true]
    B:"Old Weapons Enabled?"=true
}


##########################################################################################################
# experimental module
#--------------------------------------------------------------------------------------------------------#
# Configuration for new experimental weapons.
##########################################################################################################

"experimental module" {
}


"explosives module" {
    # If the explosive bow and ammunition should be enabled
    B:"Explosive Bow Enabled"=true

    # If explosive core materials should be loaded from config directory instead of the mod's resource folder. Disables default materials. For examples check the assets.
    B:"Explosive Cores from Config"=false
}


##########################################################################################################
# new weapons
#--------------------------------------------------------------------------------------------------------#
# Configuration for New Weapons
##########################################################################################################

"new weapons" {
    # If the bleed from the scimitar can damage bosses at all. Note that both the Ender Dragon and Wither are immune to potion effects.
    B:"Can Scimitar Bleed Damage Bosses"=true

    # If the scimitar should only be craftable in the Tool Forge, and not the Tool Station..
    B:"Can Scimitar be crafted in Tool Station"=false

    # Cap for the damage that the hp damage does to bosses
    I:"Greatblade Boss Damage Cap"=2147483647

    # Multiplier for the percent damage dealt to bosses.
    D:"Greatblade Boss Multiplier"=1.0

    # If the greatblade core should be obtainable via one of the two normal methods. If you wish to add your own recipe, set this to false.
    B:"Greatblade Core Craftable"=true

    # Should the greatblade core pattern come from end cities. Disable to make it craftable in the stencil table.
    B:"Greatblade Core Stencil from End Cities?"=true

    # Internal number used for calculating the diminishing returns for the relation of Attack Damage to Percent HP damage. Lower numbers means that the value diminishes faster, Higher values makes the percent HP scaling more linear.
    D:"Greatblade Diminishing Calculations"=100.0

    # Cap for the damage that the hp damage does to normal entities. This is separate of the cap to bosses
    I:"Greatblade Normal Enemy Damage Cap"=2147483647

    # If the percentage hp monster of death is enabled
    B:"Greatblade enabled"=true

    # Cap for the percent of damage that the greatblade can deal per hit.
    D:"Greatblade percent HP Cap"=15.0

    # The damage that the scimitar bleed does per tick with the first stack of bleed.
    D:"Scimitar Bleed Base Damage"=2.0

    # If damage is stackable, this is the damage that will be added to the damage per tick of the scimitar. The bleed will tick every half a second.
    D:"Scimitar Bleed Damage Per Stack"=1.0

    # If the damage that the scimitar's bleed can be stacked by repeatedly damaging targets with mostly charged attacks. The bleed will tick every half a second.
    B:"Scimitar Bleed Damage Stackable"=true

    # If the duration that the scimitar's bleed lasts can be stacked by repeatedly damaging targets with mostly charged attacks. The bleed will tick every half a second.
    B:"Scimitar Bleed Duration Refreshable"=true

    # If the scimitar is enabled
    B:"Scimitar Enabled"=true
}


##########################################################################################################
# old tools
#--------------------------------------------------------------------------------------------------------#
# Configuration for the old 1.7 weapons, reborn anew
##########################################################################################################

"old tools" {
    # If the swirling whirlwind of death will slay
    B:"Battle Axe Enabled?"=true

    # Multiplier for damage taken while using battleaxe.
    D:"Battleaxe Increased damage Taken"=2.0

    # If enabled, the crossbow will still automatically reload while in offhand
    B:"Crossbow Apply automatic behavior to dual wield"=true

    # If enabled, the crossbow will automatically reload after being shot.
    B:"Crossbow Automatic Reload After Shooting"=true

    # If the old crossbow cursor should be used
    B:"Crossbow Crosshair"=true

    # Here be the sword of the seas.
    B:"Cutlass Enabled?"=true

    # How many ticks of speed to give
    I:"Cutlass Speed Effect Duration"=30

    # What speed amplitude to give. 3 is default
    I:"Cutlass Speed Effect Strength"=2

    # Should the rouge's weapon, the dagger, be enabled
    B:"Dagger Enabled?"=true

    # If the full guard should be obtainable via one of the two normal ways. If you wish to add your own recipe, set this to false.
    B:"Full Guard Craftable"=true

    # Should the full guard pattern come from villages. Disable to make it craftable in the stencil table.
    B:"Full Guard From Village"=true

    # If the warframe's worst throwing weapon is enabled
    B:"Javelin Enabled"=true

    # Enable legacy mode for the javelin. Rather than charging the javelin, javelins are instantly thrown but have a moderate cooldown between throws.
    B:"Javelin Legacy Mode"=false

    # Should the crossbow be replaced by a custom version. This is REQUIRED for any of the crossbow tweaks
    B:"Replace Tinker's Crossbow"=true
}


