# Configuration file

general {
    # Toggles Construct's Armory integration for Pewter.
    B:ConstructsArmoryIntegration=true

    # If set to true, will load json files from the config folder (besides _example.json) as custom materials. For more info, see: https://github.com/ejektaflex/Pewter/wiki/Custom-Materials
    B:LoadMaterialJSONS=true

    # If set to false, Pewter will not load any of it's own content.
    B:LoadPewterContent=true
}


##########################################################################################################
# material blacklist:
#--------------------------------------------------------------------------------------------------------#
# Possible materials you can blacklist:
#  [adeninite, aetherium, ashenfabric, bnightium, canopium, corrupted_stone, dawnstone, dragonflywing, everite, fallen_metal, freezite, genite, glowing_signalum, guaninite, lavarite, mistium, oceanium, octine, ordered_metal, plasmarite, relifed_metal, snowingium, stormy_metal, syrmorite, thyminite, valonite, weedwood]
##########################################################################################################

"material blacklist:" {
    # Blacklist for Pewter Materials. Add the materials you don't want and they will not be loaded on startup [default: ]
    S:materialBlacklist <
        elementium
        livingrock
        livingwood
        magical_fabric
        manasteel
        manasting
        terrasteel
        osmium
        starmetal
        thaumium
        voidmetal
        manastring
     >
}


##########################################################################################################
# modifier blacklist:
#--------------------------------------------------------------------------------------------------------#
# Possible modifiers you can blacklist:
#  [amber, amber, amethyst, amethyst, bountiful, celestial, dragonstone, dragonstone, malachite, malachite, peridot, peridot, quicksilver, ruby, ruby, runeautumn, runemana, runemana, sanitizing, sapphire, sapphire, starseeker, tanzanite, tanzanite, topaz, topaz]
##########################################################################################################

"modifier blacklist:" {
    # Blacklist for Pewter Modifiers. Add the modifiers you don't want and they will not be loaded on startup [default: ]
    S:materialBlacklist <
     >
}


